* {box-sizing: border-box;}

header{width:100%;
	background:url(media/bg_title.jpg);
    padding: 30px;
    text-align: center;
    font-size: 35px;
	border-style: double;
	border-color: #BEAF93;
	}

header img{
	padding-top:30px;
}

#mainVisual {
	width: 100%;
	height: 780px;
	z-index: 200;
	min-width: 1000px;
	background: url("media/mainvisual.png") top center no-repeat;
}

#mainVisual img{
	padding-top: 200px;
	padding-left:800px;
	width:60%;
}

#app{
	padding-left: 70px;
	height: auto;
	position: relative;
	clear:left;
	display:block;
}

#app a:hover{
	background-color: #f2f2f2;
	opacity: 0.9;
}

.body{background-image:url(media/bg.gif)}

.nav {
    position: fixed;
    background: url("media/nav_bg.png") repeat-x center top;
    width: 100%;
    height: 50px;
    z-index: 2;
	top: 0;
	overflow:auto;
	margin: 0px;
    width: 100%;
	height:55px;
	font-size:0.8em;
	padding:5px;
	display:block;
}

.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
	opacity: 0.6;
}

.nav a:hover {
	text-shadow: 4px 0px 20px #E2DFD6;
	opacity: 0.6;
}

h1 {
	padding-top: 10px;
	color:#f2f2f2;
	opacity:0.8;
}

h2 {
	font-size:1.5em;
	font-weight: bold;
	color:#BEAF93;
	text-shadow:
	-1px -1px 0 #686a6d,  
    1px -1px 0 #686a6d,
    -1px 1px 0 #686a6d,
    1px 1px 0 #686a6d;
}

h3	{
	text-indent: 100%;
	overflow: hidden;
	width: 640px;
	display: inline-block;
	font-size: 20px;
	margin-bottom:0px;
	background: url(media/h2.png) top left no-repeat;
	color:#0d0d0d;
	padding-left:35px;
	padding-bottom:60px;
}

body{
	margin: 0;
	background-color: #0d0d0d;
    padding-top:20px;
    padding: 5px;
}

.row {
	display: flex;
	padding: 0 4px;
}

.column.side{width:10%;}

.column.middle{
	width:80%;
	background-color:#f2f2f2;
	padding:10px;
	background-image:url(media/bg.gif);
	border-style: double;
	border-color: #0d0d0d;
	overflow: hidden;
}

.container{
	float:left;
	width:50%;}

.container p{
	text-align:center;
	color:#0d0d0d;
	font-style: italic;
	font-size: 0.9em;
}

.column img {
	margin-top: 8px;
	width: 32.5%;
	height: auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 2;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 90%;
	max-width: 1200px;
}

.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.mySlides {
	display: none;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

img.hover-shadow {
	transition: 0.3s
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.story {
	color: #0d0d0d;
	text-align: left;
	font-size: 1.5em;
	width: 100%;
	margin: 2px;
	padding: 4px;
}

.servant{
	width:80%;
	padding:10px;
	overflow:hidden;
	background-image:url(media/bg.gif);
	height:1200px;
	position:bottom;
	border-style: double;
	border-color: #0d0d0d;
	display:flex;
}


.class img{
	position: absolute;
	top: 480px;
	left:1240px;
	z-index: 1;
}

.portrait img{
	position: absolute;
	left: 570px;
	top: 300px;
	z-index: 0;
	overflow:auto;
}

.detail{
	color: #0d0d0d;
	text-align: left;
	font-size: 1.5em;
	width: 100%;
	margin: 10px;
	padding: 10px;
}

#video{
	position: absolute;
	left: 770px;
	top: 880px;
	z-index: 1;
	border-style:double;
	border-color: #BEAF93;
}

footer{
	position: relative;
	background: #0d0d0d url(media/footer_bg.png) bottom left repeat-x;
	padding-top: 15px;
	width:100%;
	margin: 0;
}